<div ng-controller="EditBoxCtrl as vm" class="row small" ng-init="vm.init()">


    <legend class="popup-header"><span> <strong> Edit Box</strong></span></legend>
    <div>
        <div class="col-md-12 form-group ">
            <label class="col-md-4"><strong>Type box</strong> <span ng-if="vm.box.type_box === null" class="required">*</span></label>
            <ol class="nya-bs-select col-md-8" ng-model="vm.box.type_box" data-size="10 " data-live-search="true">
                <li nya-bs-option="type in vm.type_box ">
                    <a>
                        {{type.tb_description}}
                    </a>
                </li>
            </ol>
        </div>
        <div class="col-md-12 form-group ">
            <label class="col-md-4"><strong>Weight</strong> <span ng-if="vm.box.bx_weight === null" class="required">*</span></label>
            <input type="text " class="form-control col-md-8" ng-model="vm.box.bx_weight" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/[^0-9\.]/g,'')">
        </div>
    </div>

    <div>
        <div class="col-md-12">
            <span class="pull-left font-normal">  (<span class="required">*</span>): Required field </span>
        </div>
    </div>
    <div>
        <div class="col-md-12 ">
            <button type="button " class="btn btn-sm btn-info pull-right " ng-click="vm.editBox()" ng-disabled="vm.showAddBox()">Save Box</button>
        </div>
    </div>


</div>