<uib-tabset active="active">
    <uib-tab index="0" heading="All" ng-click="vmshipmentList.showshipmentListLines('#application.userType#')">

    </uib-tab>
    <uib-tab index="1" heading="From Factory" ng-click="vmshipmentList.showshipmentListResume('#application.userType#')">

    </uib-tab>
    <uib-tab index="2" heading="To Zone" ng-click="vmshipmentList.showshipmentListResume('#application.userType#')">

    </uib-tab>
    <uib-tab index="3" heading="To Agent" ng-click="vmshipmentList.showshipmentListResume('#application.userType#')">

    </uib-tab>
    <uib-tab index="4" heading="To Customer" ng-click="vmshipmentList.showshipmentListResume('#application.userType#')">
    </uib-tab>
</uib-tabset>